*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Poppins', sans-serif;
}
.header{
	min-height: 100%;
	width: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0.7)),url(img3.jpg);
	background-image: center;
	background-size: cover;
}
.navbar{
	width: 100%;
	height: 70px;
	background-color: rgb(51, 68, 117);
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: rgb(255, 255, 255);
}

.menu ul{
	display: flex;
	align-items: center;
}
.menu ul li a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	padding: 5px 12px;
	letter-spacing: 2px;
	font-size: 18px;
}
.menu ul li a:hover{
	border-bottom: 4px solid rgba(63, 74, 235, 0.747);
	transition: 0.3s;
} 
.signup a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 18px;
	font-weight: bold;
	border-radius: 12px;
	padding: 12px 30px;
	border: 2px solid rgba(135, 107, 227, 0.747);
}
.signup a:hover{
	background-color: rgba(201, 143, 255, 0.274);
	transition: 0.6s;
}
.body{
	width: 100%;
	height: 100vh;
	display: flex;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(food2.jpg);
	background-size: cover;
	background-position: center;
	justify-content: space-around;
	align-items: center;
}
.body2{
	width: 100%;
	height: 100vh;
	display: flex;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(schema.gif);
	background-size: cover;
	background-position: center;
	justify-content: space-around;
	align-items: center;
}
.Jova{
	background-position: right;
}
.heading{
	width: 30%;
	text-align: center;
	color: #fff;

}
.heading h1{
	font-size: 40px;

}
.heading a{
	text-decoration: none;
	color: #000;
	font-size: 25px;
	font-weight: bold;
	border-radius: 45px;
	padding: 14px 50px;
	background-color: rgba(255, 255, 255, 0.694);
}
.heading a:hover{
	letter-spacing: 0.5px;
	transition: 0.6s;
    background-color: rgba(255, 143, 143, 0.747);
}
.tours{
	width: 70%;
	display: flex;
	justify-content: space-around;
}
.places{
	display: inline;
	text-align: center;
	border-radius: 12px;
	position: absolute;
	top: 400px;
	left: 450px;

}
.places h2{
	color: #000;
	font-size: 35px;
	font-weight: bold;
	letter-spacing: 3px;
	border-radius: 45px;
	padding: 14px 50px;
	background-color: rgba(0, 0, 0, 0);
}
.places a{
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 18px;
	border-radius: 12px;
	padding: 12px 30px;
	background-color: rgb(255, 255, 255, 0.694);
}
.places a:hover{
	background-color: rgba(255, 143, 143, 0.747);
	letter-spacing: 0.5px;
	transition: 0.6s;
}
.card{
	flex-basis: 50%;
}
.schema{
	width: 200px;
	height: 230px;
	display: inline-block;
	border-radius: 10px;
	padding: 15px 25px;
	box-sizing: border-box;
	cursor: pointer;
	background-position: right;
	background-size: cover;
	transition: transform 0.5s;
}
.schema1{
	background-image: url(tk.jpg);
}
.schema2{
	background-image: url(na.jpg);
}
.schema3{
	background-image: url(eka.jpg);	
}
.schema4{
	background-image: url(ekb.jpg);
}
.schema5{
	background-image: url(saa.jpg);
}
.schema6{
	background-image: url(sab.jpg);
}
.schema:hover{
	background: rgba(36, 119, 228, 0.935);
	transform: translate(10px);
	transition: 0.5s;
}
.social-media ul{
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0;
	margin: 0;
	transform: translate(-50%, -50%);
	display: flex;
}
.social-media ul li{
	list-style-type: none;
	margin: 0 15px;

}
.social-media ul li .fa-brands {
	font-size: 30px;
	line-height: 60px;
	transition: .6s;
	color: #000;
}
.social-media ul li .fa-brands:hover{
	color: #fff;
}
.social-media ul li a{
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
	transition: 0.6s;
	box-shadow: 0 5px 4px rgb(0,0,0,.5);
}
.social-media ul li a:hover{
	transform: translate(0, -10px);
}
.social-media ul li:nth-child(1) a:hover{
	background-color: #3b5999;
}	
.social-media ul li:nth-child(2) a:hover{
	background-color: #e4405f;
}	
.social-media ul li:nth-child(3) a:hover{
	background-color: #55acee;
		
}
p{
	color: #fff;
}
h2{
	font-family: sans-serif;
	font-weight: normal;
	font-size: 25px;
	letter-spacing: 4px;
	padding: 200px 0 100px;
	color: #fff;
	text-align: center;
	position:absolute;
	left: 330px;
	top: 80px;
	
} 
h3{
	font-size: 2.1rem;
	line-height: 1.4;
	text-align: center;
	color: white;
	position: absolute;
	left: 45%;
	top: 17%;
}
.glug{
	width: 300px; 
	height: 250px; 
	border-radius: 12px;
	position: absolute;
	top: 50%;
	left: 50%;

}
@keyframes ravi{
	0%{ left: 0%;}

	10%{left: -200%;}

	20%{left: -200%;}
}
.gif{
	border-radius: 30px;
	box-shadow: 0 8px 40px white; 
	position: absolute;
	top: 350px;
	left: 850px;
	width: 500px;
	height: 300px;
}
.food1{
	display: inline-block;
	box-shadow: 0 7px 25px rgb(255, 255, 255); 
	position: absolute;
	top: 230px;
	left: 100px;
	width: 380px;
	height: 500px;

}
.food2{
	display: inline-block;
	box-shadow: 0 7px 25px rgb(255, 255, 255); 
	position: absolute;
	top: 230px;
	left: 550px;
	width: 380px;
	height: 500px;

}
.food3{
	display: inline-block;
	box-shadow: 0 7px 25px rgb(255, 255, 255); 
	position: absolute;
	top: 230px;
	left: 1000px;
	width: 380px;
	height: 500px;
}
